<section>


  <!-- contact-list.component.html -->
  <div *ngIf=" contacts.length > 0">

    <div class="my-2 flex flex-row gap-3 pb-2">
      <input type="text" [(ngModel)]="dataContact.name" placeholder="New Address"
        class="border px-2 py-1 rounded">
      <button (click)="addContact()" class="px-2 py-1 rounded text-white bg-teal-600">Add contact</button>

    </div>

    <div>
        <button (click)="next(-1)">Prev</button>
        <button (click)="next(1)">Next</button>
    </div>
    <div class="relative overflow-hidden shadow-md rounded-lg">
      <table class="table-auto w-full text-left">
        <thead class="uppercase bg-[#164e63] text-[#e5e7eb]" style="background-color: #164e63; color: #e5e7eb;">
          <tr>
            <th class="py-3  text-center font-bold p-4" contenteditable="true" >ID</th>
            <th class="py-3  text-center font-bold p-4" contenteditable="true">Name</th>
            <th class="py-3  text-center font-bold p-4" contenteditable="true">Created At</th>
            <th class="py-3  text-center font-bold p-4" contenteditable="true">Updated At</th>
            <th class="py-3  text-center font-bold p-4" contenteditable="true">Acciones</th>
          </tr>
        </thead>
        <tbody class="bg-white text-gray-500 bg-[#ededed] text-[#1e3a8a]" style="background-color: #ededed; color: #1e3a8a;">
          <tr *ngFor="let contact of this.contacts[0].data.data" class="py-4 text-sm">
            <td class="py-1.5  text-center  p-4" >{{ contact.id }}</td>
            <td class="py-1.5  text-center  p-4" >{{ contact.name }}</td>
            <td class="py-1.5  text-center  p-4" >{{ contact.created_at }}</td>
            <td class="py-1.5  text-center  p-4" >{{ contact.updated_at }}</td>
            <td class="flex flex-row gap-2 p-4 ">
              <button class="btnInfo" (click)="detailId( contact.id  )"> Detalles</button>
              <button class="btnAdd "> Agregar </button>
              <button class="btnDelete" > Eliminar
              </button>
            </td>
  
          </tr>
        </tbody>
      </table>
    </div>
 
  </div>
  <div *ngIf="contacts.length === 0">
    No contacts found.
  </div>



  <!-- Modal de detalles -->

  <!-- Modal  {{contactDetail.data.id}} -->
  <div *ngIf="modal"
    class="py-12  transition duration-150 ease-in-out z-10 fixed top-0 right-0 bottom-0 left-0 h-screen " id="modal">

    <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg h-full">

      <div class="relative  bg-blue-50 shadow-md rounded border border-gray-700 " style="height: 80%;">

        <div class="bg-gray-700 text-white py-3 px-5 flex flex-row justify-between font-semibold text-xl">
          <span>Detalles de contacto</span>

          <button (click)="closeMod()" class="btnDelete ">
            X
          </button>

        </div>


        <section class="py-4 px-5 flex flex-row w-1/2 text-center">
          <div class="px-1 py-1  border w-1/3 bg-blue-400" ng-class="{ 'bg-blue-400': tabActual != 'addresses' }" (click)="swichTab('addresses')">addresses</div>
          <div class="px-1 py-1 bg-gray-200 border w-1/3" ng-class="{ 'bg-blue-400': tabActual == 'emails' }" (click)="swichTab('emails')">Emails</div>
          <div class="px-1 py-1 bg-gray-200 border w-1/3" ng-class="{ 'bg-blue-400': tabActual == 'phones' }" (click)="swichTab('phones')">phones</div>
        </section>
        <!-- body -->
        <div class=" pb-8 px-5 md:px-10 overflow-y-scroll  h-full bg-blue-50">

          <div *ngIf="tabActual == 'addresses'" >
            <div class="my-2 flex flex-row gap-3 pb-2">
              <input type="text" [(ngModel)]="dataInfoContact.address" placeholder="New Address"
                class="border px-2 py-1 rounded">
              <button (click)="addAddress()" class="btnAdd">Add Address</button>
              <button (click)="updateInfo()" class="btnUpdate">Update Address</button>

            </div>

            <div class="relative overflow-hidden shadow-md rounded-lg">
              <table class="text-left w-full text-sm">
                <thead class="uppercase bg-[#b91c1c] text-[#e5e7eb]" style="background-color: #b91c1c; color: #e5e7eb;">
                  <tr>
                    <th class="py-2  text-center font-bold p-4">Id</th>
                    <th class="py-2  text-center font-bold p-4">Address</th>
                    <th class="py-2  text-center font-bold p-4">Creado</th>
                    <th class="py-2  text-center font-bold p-4">Actualizado</th>
                    <th class="py-2  text-center font-bold p-4">Acciones</th>
                  </tr>
  
                </thead>
                <tbody class="bg-white text-gray-500 bg-[#ededed] text-[#1e3a8a]" style="background-color: #ededed; color: #1e3a8a;">
                  <tr *ngFor="let address of contactDetail.data.addresses" class="py-4 text-sm">
                    <td class="py-1.5  text-center  p-4">
                      {{address.id}}
                    </td>
  
                    <td class="py-1.5  text-center  p-4">
                      {{address.address}}
                    </td>
  
  
                    <td class="py-1.5  text-center  p-4"> {{address.created_at}}</td>
                    <td class="py-1.5  text-center  p-4">{{address.updated_at}}</td>
  
  
                    <td>
                      <button class="btnInfo"  (click)="editInfo( address)"> Editar</button>
                      <button class="btnDelete"> Eliminar</button>
                    </td>
  
  
  
                  </tr>
                </tbody>
              </table>
            </div>
          
          </div>

          <div *ngIf="tabActual == 'emails'" >


            <div class="my-2 flex flex-row gap-3 pb-2">
              <input type="text" [(ngModel)]="dataInfoContact.email" placeholder="New Address"
                class="border px-2 py-1 rounded">
              <button (click)="addAddress()" class="btnAdd">Add email</button>
              
              <button (click)="updateInfo()" class="btnDelete">Update Address</button>

            </div>

            <div class="relative overflow-hidden shadow-md rounded-lg">
              <table class="text-left w-full text-sm">
                <thead class="uppercase bg-[#b91c1c] text-[#e5e7eb]" style="background-color: #b91c1c; color: #e5e7eb;">
                  <tr>
                    <th class="py-2  text-center font-bold p-4">Id</th>
                    <th class="py-2  text-center font-bold p-4">Email</th>
                    <th class="py-2  text-center font-bold p-4">Creado</th>
                    <th class="py-2  text-center font-bold p-4">Actualizado</th>
                    <th class="py-2  text-center font-bold p-4">Acciones</th>
                  </tr>
  
                </thead>
                <tbody class="bg-white text-gray-500 bg-[#ededed] text-[#1e3a8a]" style="background-color: #ededed; color: #1e3a8a;">
                  <tr *ngFor="let address of contactDetail.data.emails" class="py-4 text-sm">
                    <td class="py-1.5  text-center  p-4">
                      {{address.id}}
                    </td>
  
                    <td class="py-1.5  text-center  p-4">
                      {{address.email}}
                    </td>
  
  
                    <td class="py-1.5  text-center  p-4"> {{address.created_at}}</td>
                    <td class="py-1.5  text-center  p-4">{{address.updated_at}}</td>
  
                    <td class="">
                      <button class="btnInfo"  (click)="editInfo( address)"> Editar</button>
                      <button class="btnDelete"> Eliminar</button>
                    </td>
  
  
  
                  </tr>
                </tbody>
              </table>
            </div>
          
          </div>


          <div *ngIf="tabActual == 'phones'">
            <div class="my-2 flex flex-row gap-3 pb-2">
              <input type="text" [(ngModel)]="dataInfoContact.phone_number" placeholder="New Address"
                class="border px-2 py-1 rounded">
              <button (click)="addAddress()" class="px-2 py-1 rounded text-white bg-teal-600">Add phone</button>
              
              <button (click)="updateInfo()" class="px-2 py-1 rounded text-white bg-orange-600">Update Address</button>

            </div>


            <div class="relative overflow-hidden shadow-md rounded-lg">
            <table class="text-left w-full text-sm">
              <thead class="uppercase bg-[#b91c1c] text-[#e5e7eb]" style="background-color: #b91c1c; color: #e5e7eb;">
                <tr>
                  <th class="py-2  text-center font-bold p-4">Id</th>
                  <th class="py-2  text-center font-bold p-4">Telefono</th>
                  <th class="py-2  text-center font-bold p-4">Creado</th>
                  <th class="py-2  text-center font-bold p-4">Actualizado</th>
                  <th class="py-2  text-center font-bold p-4">Acciones</th>
                </tr>

              </thead>
              <tbody class="bg-white text-gray-500 bg-[#ededed] text-[#1e3a8a]" style="background-color: #ededed; color: #1e3a8a;">
                <tr *ngFor="let address of contactDetail.data.phone_numbers" class="py-4 text-sm">
                  <td class="py-1.5  text-center  p-4">
                    {{address.id}}
                  </td>

                  <td class="py-1.5  text-center  p-4">
                    {{address.phone_number}}
                  </td>


                  <td class="py-1.5  text-center  p-4"> {{address.created_at}}</td>
                  <td class="py-1.5  text-center  p-4">{{address.updated_at}}</td>


                  <td class="py-1.5  text-center  p-4">
                    <button class="btnInfo"  (click)="editInfo( address)"> Editar</button>
                    <button class="btnDelete"> Eliminar</button>
                  </td>



                </tr>
              </tbody>
            </table>
            </div>
          </div>

        </div>



        <div class="">

        </div>

      </div>

      <div>



      </div>
    </div>
  </div>





</section>
