<section>


  <!-- contact-list.component.html -->
  <div *ngIf=" contacts.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of this.contacts[0].data.data">
          <td>{{ contact.id }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.created_at }}</td>
          <td>{{ contact.updated_at }}</td>
          <td class="flex flex-row gap-2">
            <button class="bg-blue-600 text-white  rounded-sm px-2 py-.5"> Detalles</button>
            <button class="bg-indigo-600 text-white  rounded-sm px-2 py-.5"> Agregar </button>
            <button class="bg-red-600 text-white rounded-sm px-2 py-.5" (click)="detailId( contact.id  )"> Eliminar
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="contacts.length === 0">
    No contacts found.
  </div>



  <!-- Modal de detalles -->

  <!-- Modal  {{contactDetail.data.id}} -->
  <div *ngIf="modal"
    class="py-12  transition duration-150 ease-in-out z-10 fixed top-0 right-0 bottom-0 left-0 h-screen "
    id="modal">
    
    <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg h-full">
     
      <div class="relative  bg-blue-50 shadow-md rounded border border-gray-700 "
        style="height: 80%;">

        <div class="bg-gray-700 text-white py-3 px-5 flex flex-row justify-between font-semibold text-xl">
          <span>Detalles de contacto</span>

          <button (click)="closeMod()" class="bg-red-500 text-white px-1.5 rounded  ">
            X
          </button>

        </div>


        <section class="py-4 px-5 flex flex-row w-1/2 text-center">
          <div class="px-1 py-1 border w-1/3 bg-blue-400">Direcciones</div>
          <div class="px-1 py-1 bg-gray-200 border w-1/3">Emails</div>
          <div class="px-1 py-1 bg-gray-200 border w-1/3">Telefonos</div>
        </section>
        <!-- body -->
        <div class=" pb-8 px-5 md:px-10 overflow-y-scroll  h-full bg-blue-50">
          <div>
           
  
  
           <div class="my-2 flex flex-row gap-3 pb-2">
            <input type="text" [(ngModel)]="newAddres.address" placeholder="New Address" class="border px-2 py-1 rounded">
            <button (click)="addAddress()" class="px-2 py-1 rounded text-white bg-teal-600">Add Address</button>
  
           </div>
  
            <table class="text-left w-full text-sm">
              <thead class="bg-black flex text-white w-full">
                <tr class="flex w-full mb-1">
                  <th class="p-1.5 w-fit mx-2">Id</th>
                  <th class="p-1.5 w-1/4">Address</th>
                  <th class="p-1.5 w-1/4">Creado</th>
                  <th class="p-1.5 w-1/4">Actualizado</th>
                </tr>
  
              </thead>
              <tbody class="bg-grey-light flex flex-col items-center  overflow-y-scroll w-full" >
                <tr *ngFor="let address of contactDetail.data.addresses" class="flex w-full mb-4 border-b-2">
                  <td class="p-1.5 w-fit mx-2">
                    {{address.id}}
                  </td>
  
                  <td class="p-1.5 w-1/4">
                    {{address.address}}
                  </td>
  
  
                  <td class="p-1.5 w-1/4"> {{address.created_at}}</td>
                  <td class="p-1.5 w-1/4">{{address.updated_at}}</td>
  
  
  
                </tr>
              </tbody>
            </table>
          </div>
  
          <div>
            Emails
  
  
            <table class="text-left w-full text-sm">
              <thead class="bg-black flex text-white w-full">
                <tr class="flex w-full mb-1">
                  <th class="p-1.5 w-fit mx-2">Id</th>
                  <th class="p-1.5 w-1/4">Address</th>
                  <th class="p-1.5 w-1/4">Creado</th>
                  <th class="p-1.5 w-1/4">Actualizado</th>
                </tr>
  
              </thead>
              <tbody class="bg-grey-light flex flex-col items-center  overflow-y-scroll w-full" >
                <tr *ngFor="let address of contactDetail.data.emails" class="flex w-full mb-4 border-b-2">
                  <td class="p-1.5 w-fit mx-2">
                    {{address.id}}
                  </td>
  
                  <td class="p-1.5 w-1/4">
                    {{address.email}}
                  </td>
  
  
                  <td class="p-1.5 w-1/4"> {{address.created_at}}</td>
                  <td class="p-1.5 w-1/4">{{address.updated_at}}</td>
  
  
  
                </tr>
              </tbody>
            </table>
          </div>
  
  
          <div>
            Telefonos
  
  
            <table class="text-left w-full text-sm">
              <thead class="bg-black flex text-white w-full">
                <tr class="flex w-full mb-1">
                  <th class="p-1.5 w-fit mx-2">Id</th>
                  <th class="p-1.5 w-1/4">Address</th>
                  <th class="p-1.5 w-1/4">Creado</th>
                  <th class="p-1.5 w-1/4">Actualizado</th>
                </tr>
  
              </thead>
              <tbody class="bg-grey-light flex flex-col items-center  overflow-y-scroll w-full" >
                <tr *ngFor="let address of contactDetail.data.phone_numbers" class="flex w-full mb-4 border-b-2">
                  <td class="p-1.5 w-fit mx-2">
                    {{address.id}}
                  </td>
  
                  <td class="p-1.5 w-1/4">
                    {{address.phone_number}}
                  </td>
  
  
                  <td class="p-1.5 w-1/4"> {{address.created_at}}</td>
                  <td class="p-1.5 w-1/4">{{address.updated_at}}</td>
  
  
  
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>

     

        <div class="">
         
        </div>

      </div>

      <div>



      </div>
    </div>
  </div>





</section>